# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodeCounter.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Systems\DeliberatePractice\CodeCounter\.idea\.idea.CodeCounter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
